.body {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sending {
}

.sent {
}

.read {
  position: relative;
}

.read svg:nth-child(1) {
  position: absolute;
}

.error {
}
