#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;

  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;

  height: 100%;
  width: 100%;

  color: var(--text-color);
  background-color: var(--background-color);

  --heading-font-size: 16px;
  --font-size: 14px;

  --sidebar-height: 50px;
  --sidebar-padding: 10px;

  --online-dot-size: 12px;

  --sidebar-circle-size: 25px;

  --sidebar-gap: 10px;

  --sidebar-width: 20%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
