.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  flex-direction: column;
  flex: 1;
  overflow: hidden;
  max-width: 100%;
}

.message {
  font-size: var(--font-size);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: block;
  height: fit-content;

  max-width: 100%;
}
