.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  max-width: 100%;

  gap: var(--sidebar-gap);
}

.upper {
  display: flex;
  flex-direction: row;
}

.lower {
  display: flex;
  flex-direction: row;
}
